.response{
    overflow-y: auto;
}
.chatContainer{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:bisque;
}
.chatContainer h3{
    background-color:black;
    margin: 0;
    padding: 0.5rem;
}
.user{
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    color: white;
    border-radius: 10px;
    max-width: 1080px;
    height: 400px;
    margin: 0 auto;
    justify-content: space-between;
    overflow: hidden;
}

#answerInput{
    padding: 0.5rem;
}

.quesContainter{
    margin: 0px auto;
}

.responseText{
    width: fit-content;
    background-color:red;
    padding: 3px 5px;
    border-radius: 3px;
    margin: 1rem;
    font-size: small;
}
.correct{
    background-color: #0ec80e;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}